{% macro destroy_button(action, text) %}
  <form method="post" action="{{action}}" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">{{text|default('Poista')}}</button>
  </form> 
{% endmacro %}

{% macro edit_button(action, text) %}
    <a class="btn btn-default" href="{{action}}" role="button" style="display: inline-block;">{{text|default('Muokkaa')}}</a>
{% endmacro %}

{% macro destroy_ingredient(action, text) %}
  <form method="post" action="{{action}}" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">{{text|default('Poista')}}</button>
  </form> 
{% endmacro %}

{% macro edit_ingredient(action, text) %}
    <a class="btn btn-default" href="{{action}}" role="button" style="display: inline-block;">{{text|default('Muokkaa')}}</a>
{% endmacro %}

