{% extends "base.html" %}
{% block content %}
<h1>Lisää uusi drinkki</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        {% for err in error %}
        <li>{{err}}</li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method='post' action='{{base_path}}/drinks'>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name='nimi' class="form-control" value="{{attributes.nimi}}">
    </div>

    <div class="form-group">
        <label>Tyyppi</label>
        <select class="form-control" name="tyyppi">
            {% for tyyppi in attributes.TYYPIT %}
            {% if tyyppi == attributes.tyyppi %}
            <option value="{{tyyppi}}" selected="">{{tyyppi}}</option>
            {% else %}
            <option value="{{tyyppi}}">{{tyyppi}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Lasi</label>
        <select class="form-control" name="lasi">
            {% for lasi in attributes.LASIT %}
            {% if lasi == attributes.lasi %}
            <option value="{{lasi}}" selected="">{{lasi}}</option>
            {% else %}
            <option value="{{lasi}}">{{lasi}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Ainesosat</label>
        <p>Valitse useampi pitämällä pohjassa ctrl/cmd</p>
        <select class="form-control" name="ainekset[]" multiple="">
            {% for aines in aineslista %}
            {% if aines.aines_id in ainekset %}
            <option value="{{aines.aines_id}}" selected="">{{aines.nimi}}</option>
            {% else %}
            <option value="{{aines.aines_id}}">{{aines.nimi}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>
            {% if attributes.alkoholiton == true %}
            <input type="checkbox" name="alkoholiton" checked="">
            {% else %}
            <input type="checkbox" name="alkoholiton">
            {% endif %}
            Alkoholiton
        </label>
    </div>

    <div class="form-group">
        <label>Kuvaus</label>
        <textarea name='kuvaus' class='form-control' >{{attributes.kuvaus}}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}