{% extends "base.html" %}
{% block content %}
<h1>Muokkaa drinkkiä</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        <li>Viallinen syöte</li>
    </ul>
</div>
{% endif %}

<form method='post' action='{{base_path}}/drinks/{{attributes[0].drinkki_id}}/edit'>

    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name='nimi' class="form-control" value="{{attributes[0].nimi}}">
    </div>

    <div class="form-group">
        <label>Tyyppi</label>
        <select class="form-control" name="tyyppi">
            <option value="Aperitiivi">Aperitiivi</option>
            <option value="Shotti">Shotti</option>
            <option value="Cocktail">Cocktail</option>
            <option value="Sangria">Sangria</option>
        </select>
    </div>

    <div class="form-group">
        <label>Lasi</label>
        <select>
            <option value="Hurrikaanilasi">Hurrikaanilasi</option>
            <option value="Shottilasi">Shottilasi</option>
            <option value="Cocktail-lasi">Cocktail-lasi</option>
            <option value="Korkea lasi">Korkea lasi</option>
        </select>
    </div>

    <div class="form-group">
        <label>
            <input type="checkbox" name="alkoholiton" checked>
            Alkoholiton
        </label>
    </div>

    <div class="form-group">
        <label>Kuvaus</label>
        <textarea name='kuvaus' class='form-control'>{{attributes[0].kuvaus}}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}