{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>Drinkkiarkisto</h1>
{% if message %}
<div class="alert-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}
<p>
    <a href="{{base_path}}/addnew" class="btn btn-success">Lisää uusi drinkki</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Juoman nimi</th>
            <th>Tyyppi</th>
            <th>Lasi</th>
            <th>Erityistä</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan juomat-->
        {% for drink in drinks %}
        <tr>
            <td><a href="{{base_path}}/drinks/{{drink.drinkki_id}}">{{drink.nimi}}</td>
            <td>{{drink.tyyppi}}</td>
            <td>{{drink.lasi}}</td>
            <td>
                {% if drink.alkoholiton %}
                <label class="label label-success">Alkoholiton</label>
                {% endif %}
            </td>
            <th>
                {{forms.edit_button("#{base_path}/drinks/#{drink.drinkki_id}/edit")}}
                {{forms.destroy_button("#{base_path}/drinks/#{drink.drinkki_id}/destroy")}}
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}