{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{drink.nimi}}</h1>
{% if message %}
<div class="alert-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}
<!-- Painikkeet tähän -->
<p>
    {{forms.destroy_button("#{base_path}/drinks/#{drink.drinkki_id}/destroy")}}
    {{forms.edit_button("#{base_path}/drinks/#{drink.drinkki_id}/edit")}}
</p>

<p>
    Tyyppi: {{drink.tyyppi}}
</p>

<p>
    {{drink.kuvaus}}
</p>

<p>
    Ainekset:
</p>
<ul>
    {% for aines in ainekset %}
    <li><a href="{{base_path}}/ingredients/{{aines.aines_id}}">{{aines.nimi}}</li>
    {% endfor %}
</ul>


{% endblock %}