{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{drink[0].nimi}}</h1>
{{message}}
<!--  <img src="{{base_path}}/app/views/pinacolada.jpg" alt="Coco Colada" />-->
<!-- Painikkeet tähän -->
<p>
    {{forms.destroy_button("#{base_path}/drinks/#{drink[0].drinkki_id}/destroy")}}
    {{forms.edit_button("#{base_path}/drinks/#{drink[0].drinkki_id}/edit")}}
</p>

<!--  Tyyppi-->
<p>
    Tyyppi: {{drink[0].tyyppi}}
</p>


<p>
    {{drink[0].kuvaus}}
</p>
{% endblock %}