{% extends "base.html" %}
{% block content %}
<h1>Muokkaa reseptiä Coco Colada</h1>

<form>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" value="Coco Colada">
    </div>
    <div class="form-group">
        <label>Tyyppi</label>
        <input type="text" class="form-control" value="Cocktail">
    </div>
    <div class="form-group">
        <label>Lasi</label>
        <input type="text" class="form-control" value="Hurrikaanilasi">
    </div>
    
    <div class="form-group">
        <label>Ainesosat</label>
        <input type="text" class="form-control" value="8cl ananasmehua">
        <input type="text" class="form-control" value="4cl kookoskermaa">
        <input type="text" class="form-control" value="Jäitä">
        <input type="text" class="form-control" value="Koristeeksi ananasviipale">
    </div>
     <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää ainesosa</button>
    </div>
    
    <div class="form-group">
        <label>Työvaiheet</label>
        <input type="text" class="form-control" value="Tee jotain">
        <input type="text" class="form-control" value="Tee jotain muuta">
        <input type="text" class="form-control" value="Jäitä">
        <input type="text" class="form-control" value="Koristeeksi ananasviipale">
    </div>
     <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää työvaihe</button>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox">
            Alkoholiton
        </label>
    </div>
    
    <div class="form-group">
        <label>Kuvaus</label>
        <textarea class="form-control">Coco Colada on herkullinen alkoholiton versio Pina Coladasta. Drinkin voi valmistaa myös kaupasta saatavasta pina colada -siirapista, mutta tuoreilla aineksilla lopputulos on paljon maukkaampi.
        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}