{% extends "base.html" %}
{% block content %}
  <h1>Coco Colada</h1>
  <img src="pinacolada.jpg" alt="Coco Colada" />
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Ainesosat tulevat listana tähän -->
  <ul>
    <li><strong>8 cl</strong> ananasmehua</li>
    <li><strong>4 cl</strong> kookoskermaa</li>
    <li><strong>Jäitä</strong></li>
    <li><strong>Koristeeksi</strong> ananasviipale</li>
  </ul>
  <!-- Valmistusohje tulee tähän -->
  <ol>
      <li>Laita ananasmehu, kookoskerma ja jäät blenderiin</li>
      <li>Sekoita tasaiseksi</li>
      <li>Kaada juoma hurrikaanilasiin</li>
      <li>Koristele ananasviipaleella</li>
  </ol>
  <p>
    Coco Colada on herkullinen alkoholiton versio Pina Coladasta. Drinkin voi 
    valmistaa myös kaupasta saatavasta pina colada -siirapista, mutta tuoreilla 
    aineksilla lopputulos on paljon maukkaampi.
  </p>
{% endblock %}